<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Tafl">
    <meta name="keywords" content="Hnefatafl">
    <meta name="author" content="Alex Hedley">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sticky-footer.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/jquery-ui.min.css"> -->
    <link rel="stylesheet" href="css/jquery-ui.1.12.1.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'> -->

    <title>Tafl</title>
  </head>
  <body ng-app="myApp">
    
    <!-- Begin page content -->
    <main role="main" class="container">

        <section class="jumbotron title-container text-center">
            <div>
                <h1>Tafl</h1>

                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="input-group search-bar">
                            <input type="text" class="form-control" ng-model='searchText' placeholder="Search for a game..." aria-label="Search">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div ng-controller="myController">

            <div class="container">
                <div class="row">
                    <div 
                        ng-repeat="game in games | filter:searchText"
                        class="col-md-4"
                        style="margin-bottom: 50px;"
                    >
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{game.name}}</h5>
                                <p class="card-text">{{game.description}}</p>
                                <p class="card-text">{{game.date}}</p>
                                <p class="card-text">Winner: <strong>{{game.winner}}</strong></p>
                                <span class="badge badge-secondary">{{game.winner_count}}</span>
                                <p class="card-text">Loser: {{game.loser}}</p>
                                <span class="badge badge-secondary">{{game.loser_count}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <h2>Count of Wins</h2>
                        <p>
                            <ul ng-repeat="(key, value) in games | countBy: 'winner'">
                                Player: {{ key }}  {{ value }}
                            </ul>
                        </p>

                    </div>
                </div>
            </div>

        </div>

    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Alex Hedley.</span>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/jquery-ui.min.js"></script>
    <!-- <script src="js/jquery-ui.1.12.1.min.js"></script> -->
    <!-- <script src="js/popper.min.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/jquery.pretty-text-diff.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-filter.js"></script>
    <script src="js/app.js"></script>
    </body>
</html>